<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <div class="banner">
        <f:if condition="{data.bodytext}">
            <div class="banner__text">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
        <f:if condition="{files}">
            <div class="banner__image--wrap">
                <f:for each="{files}" as="file">
                    <f:image
                        class="banner__image"
                        image="{file}"
                        maxWidth="2000"
                        alt="{file.alternative}"
                        treatIdAsReference="1"
                        title="{file.title}" />
                </f:for>
            </div>
        </f:if>
    </div>

</f:section>

</html>
