/******************************************************
 * Various functions
 ******************************************************/
@each $font in $fonts {
    @import url($font);
}

@each $background-class, $background-color in $background-colors {
    .background--#{$background-class} {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            width: 100vw;
            background-color: $background-color;
            left: calc((100vw - 100%) / 2 * -1);
        }

        > * {
            position: relative;
            z-index: $zIndex-1--foreground;
        }
    }
}

/******************************************************
 * Basis
 ******************************************************/
:root {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    line-height: $line-height;
}

html {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background-color: $main-background;
    padding-top: $nav-height;
    overflow-x: hidden;
}

.container {
    max-width: $grid-max-width;
    box-sizing: content-box;
    padding: 0 calc(#{$grid-gap} / 2);
    margin: 0 auto;
}

.anchor {
    position: relative;
    display: block;
    z-index: -10;
    visibility: hidden;
    pointer-events: none;
    top: calc(-#{$nav-height} - #{$grid-gap});
}

/******************************************************
 * Functional classes
 ******************************************************/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.primary-color {
    color: $primary;
}

/******************************************************
 * Cols
 ******************************************************/
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(#{$grid-gap} / 2 * -1);

    &--wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}

$cols: 1,2,3,4,5,6,7,8,9,10,11,12;
$col100: 12;

@each $col in $cols {
    .col#{$col} {
        width: calc(100% / #{$col100} * #{$col})
    }
}

[class^="col"],
[class*=" col"] {
    padding: 0 calc(#{$grid-gap} / 2);
}

@media (max-width: $break-point-lg) {
    @each $col in $cols {
        .col-medium-#{$col} {
            width: calc(100% / #{$col100} * #{$col})
        }
    }
}

@media (max-width: $break-point-md) {
    @each $col in $cols {
        .col-small-#{$col} {
            width: calc(100% / #{$col100} * #{$col})
        }
    }
}

/******************************************************
 * Text Media
 ******************************************************/
.ce-textpic {
    &.ce-above {
        .ce-gallery:not(:last-child) {
            margin-bottom: $grid-gap;
        }
    }
    &.ce-below {
        .ce-gallery:not(:first-child) {
            margin-top: $grid-gap;
        }
    }
    &.ce-vertical {
        &-top {
            align-items: flex-start;
        }
        &-center {
            align-items: center;
        }
        &-bottom {
            align-items: flex-end;
        }
    }
    &.ce-intext:not(.ce-nowrap) {
        &.ce-right .ce-gallery {
            float: right;
            margin-left: $grid-gap;
            width: 100%;
        }
        &.ce-left .ce-gallery {
            float: left;
            margin-right: $grid-gap;
            width: 100%;
        }
    }
    &.ce-nowrap {
        .ce-gallery {
            .image-embed-item, .video-embed-item {
                width: 100%;
                height: auto;
            }
        }
    }

    &.ce-center {
        .image-embed-item, .video-embed-item {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .image-caption, .video-caption {
            text-align: center;
        }
    }
    &.ce-right {
        .image-embed-item, .video-embed-item {
            display: block;
            margin-left: auto;
            margin-right: 0;
        }
        .image-caption, .video-caption {
            text-align: right;
        }
    }
    &.ce-left {
        .image-embed-item, .video-embed-item {
            display: block;
            margin-left: 0;
            margin-right: auto;
        }
        .image-caption, .video-caption {
            text-align: left;
        }
    }
}
