<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<li class="navigation__item{f:if(condition:'{item.data.uid} == {pid} || {item.data.shortcut} == {pid} || {item.active} == 1', then:' navigation__item--active')}{f:if(condition:'{item.files}', then:' navigation__item--has-image')}">
    <f:if condition="{item.data.target}">
        <f:then>
            <f:link.page
                pageUid="{item.data.uid}"
                title="{item.data.title}"
                target="{item.data.target}"
                class="navigation__link{f:if(condition:'{item.data.uid} == {pid} || {item.data.shortcut} == {pid} || {item.active} == 1', then:' navigation__link--active')}">
                <f:if condition="{item.files}">
                    <f:render partial="Header/Navigation/Image" arguments="{image:item.files.0}" />
                </f:if>
                <f:render section="linktext" arguments="{_all}"/>
            </f:link.page>
        </f:then>
        <f:else if="{item.target}">
            <f:link.page
                pageUid="{item.data.uid}"
                title="{item.data.title}"
                target="{item.target}"
                class="navigation__link{f:if(condition:'{item.data.uid} == {pid} || {item.data.shortcut} == {pid} || {item.active} == 1', then:' navigation__link--active')}">
                <f:if condition="{item.files}">
                    <f:render partial="Header/Navigation/Image" arguments="{image:item.files.0}" />
                </f:if>
                <f:render section="linktext" arguments="{_all}"/>
            </f:link.page>
        </f:else>
        <f:else>
            <f:link.page
                pageUid="{item.data.uid}"
                title="{item.data.title}"
                class="navigation__link{f:if(condition:'{item.data.uid} == {pid} || {item.data.shortcut} == {pid} || {item.active} == 1', then:' navigation__link--active')}">
                <f:if condition="{item.files}">
                    <f:render partial="Header/Navigation/Image" arguments="{image:item.files.0}" />
                </f:if>
                <f:render section="linktext" arguments="{_all}"/>
            </f:link.page>
        </f:else>
    </f:if>
</li>

<f:section name="linktext">
    <span class="navigation__text{f:if(condition:'{item.data.uid} == {pid} || {item.data.shortcut} == {pid} || {item.active} == 1', then:' navigation__text--active')}">
        {item.title}
    </span>
</f:section>

</html>
