<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{navigation}">
    <nav class="navigation navigation--language">
        <ul class="navigation__list">
            <f:for each="{navigation}" as="item">
                <li class="navigation__item{f:if(condition:item.active, then:' navigation__item--active')}{f:if(condition: item.available, else: ' navigation__item--disabled')}">
                    <f:if condition="{item.available}">
                        <f:then>
                            <a href="{item.link}" hreflang="{item.hreflang}" title="{item.navigationTitle}" class="navigation__link{f:if(condition:item.active, then:' navigation__link--active')}">
                                <span class="navigation__text{f:if(condition:item.active, then:' navigation__text--active')}">{item.twoLetterIsoCode}</span>
                            </a>
                        </f:then>
                        <f:else>
                            <span class="navigation__text{f:if(condition:item.active, then:' navigation__text--active')}">{item.twoLetterIsoCode}</span>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </nav>
</f:if>

</html>
