<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{navigation}">
    <nav class="navigation__mobile__nav">
        <div class="navigation__mobile__burger">
            <input type="checkbox" class="navigation__mobile__burger--input" />
            <span class="navigation__mobile__burger__bar"></span>
            <span class="navigation__mobile__burger__bar"></span>
            <span class="navigation__mobile__burger__bar"></span>

            <ul class="navigation__mobile__list">
                <f:for each="{navigation}" as="item">
                    <f:if condition="{onePage} == 1">
                        <f:then>
                            <f:render partial="Header/Navigation/ItemOnePage" arguments="{item:item}"/>
                        </f:then>
                        <f:else>
                            <f:render partial="Header/Navigation/Item" arguments="{item:item,pid:pid}"/>
                        </f:else>
                    </f:if>
                </f:for>
                <f:render partial="Header/Navigation/Meta" arguments="{navigation:navigationMeta,pid:pid}" />
            </ul>
        </div>
    </nav>
</f:if>

</html>
