<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:variable name="data-layout" value="default" />

    <div
        data-ctype="{data.CType}"
        class="frame frame__{data.frame_class}
               frame__type--{data.CType}
               frame__layout--{data.layout}
               {f:if(condition: data.space_before_class, then: ' frame__space--before--{data.space_before_class}')}
               {f:if(condition: data.space_after_class, then: ' frame__space--after--{data.space_after_class}')}">

        <span class="anchor" id="c{data.uid}"></span>
        <f:if condition="{data._LOCALIZED_UID}">
            <span class="anchor" id="c{data._LOCALIZED_UID}"></span>
        </f:if>

        <f:render section="Before" optional="true">
            <f:render partial="DropIn/Before/All" arguments="{_all}" />
        </f:render>

        <f:render section="Header" optional="true">
            <f:render partial="Header/All" arguments="{_all}" />
        </f:render>

        <f:render section="Main" optional="true" />

        <f:render section="Footer" optional="true">
            <f:render partial="Footer/All" arguments="{_all}" />
        </f:render>

        <f:render section="After" optional="true">
            <f:render partial="DropIn/After/All" arguments="{_all}" />
        </f:render>

    </div>
</html>
